* {
	font-family: 'Raleway', sans-serif;
	color: #f7ded4 !important;
}

body, .modal-content {
	background-color: #fbeee9;
}

.modal-header {
	background-color: #222;
}
.container-fluid {
	max-width: 1000px;
	background: #222;
	border-radius: 50px 15px;
	padding-top: 10px;
}

.row {
	padding: 20px;
}


.logo {
	max-width: 290px;
	border-radius: 50px 15px;
	border: solid #f7ded4;
	width: 100%;
}

.title {
	text-align: center;
	padding-bottom: 0;
}

.name {
	font-family: 'Lobster', cursive;
	font-size: 400%;
	text-align: center;
}

h3, h4 {
	font-weight: bold;
	padding-bottom: 5%;
}

.dark-font {
	color: #222!important;
}

.dark-pink-font {
	color: #e9967a !important;
}

.icon-bar {
	background-color: #f7ded4;
}

.navbar-toggle {
    float: none;
    margin-right: 0;
}

.navbar {
	padding-top: 10%;
}

li a {
    display: block;
    color: #f7ded4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #f7ded4;
  color: #222 !important;
}

a:focus, button:focus {   
    outline: 0 none !important;
}

.about {
	background-color: #e9967a;
  	overflow: auto;
  	padding: 0 20px;
}

.description-img {
	margin: auto;
	max-width: 350px;
	width: 100%;
}

.btn {
	background-color: #222;
	border-color: #e9967a;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  background-color: #f7ded4;
  color: #222 !important;
}

a:focus, button:focus {   
    outline: 0 none !important;
}

.skill-list {
	padding-top: 0;
}

.link-github {
	float: left;
}

.thumbnail {
	border-radius: 50px 15px;
	background-color: #222;
	border: none;
}

.skill-img {
	margin-top: 5%;
	width : 150px;
}

.skill-description {
	padding-bottom: 5%;
}

.modal-title {
	padding-bottom: 0;
}

.contact {
	font-size: 150%;
}

.svg {
	height: 45px;
	padding: 0;
}

.social-icon {
	padding: 0;
}

.licence {
	padding-bottom: 0;
}

.list-inline {
	margin-bottom: 0;
	margin-left: 0;
}

.credits {
	color : grey !important;
}
