@import url("http://weloveiconfonts.com/api/?family=entypo");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ddd;
}

.wrapper {
  padding: 120px 0 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 10px;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
}

.social {
  box-shadow: #d2d2d2 1px 1px, #d2d2d2 2px 2px, lightgray 3px 3px, lightgray 4px 4px, lightgray 5px 5px, #d4d4d4 6px 6px, #d4d4d4 7px 7px, #d4d4d4 8px 8px, #d5d5d5 9px 9px, #d5d5d5 10px 10px, #d6d6d6 11px 11px, #d6d6d6 12px 12px, #d6d6d6 13px 13px, #d7d7d7 14px 14px, #d7d7d7 15px 15px, #d7d7d7 16px 16px, #d8d8d8 17px 17px, #d8d8d8 18px 18px, #d8d8d8 19px 19px, #d9d9d9 20px 20px, #d9d9d9 21px 21px, #dadada 22px 22px, #dadada 23px 23px, #dadada 24px 24px, #dbdbdb 25px 25px, #dbdbdb 26px 26px, #dbdbdb 27px 27px, gainsboro 28px 28px, gainsboro 29px 29px, #dddddd 30px 30px;
  text-shadow: #e2e2e2 1px 1px, #e3e3e3 2px 2px, #e3e3e3 3px 3px, #e4e4e4 4px 4px, #e5e5e5 5px 5px, #e5e5e5 6px 6px, #e6e6e6 7px 7px, #e6e6e6 8px 8px, #e7e7e7 9px 9px, #e8e8e8 10px 10px, #e8e8e8 11px 11px, #e9e9e9 12px 12px, #e9e9e9 13px 13px, #eaeaea 14px 14px, #ebebeb 15px 15px, #ebebeb 16px 16px, #ececec 17px 17px, #ececec 18px 18px, #ededed 19px 19px, #eeeeee 20px 20px;
}
